.background {
  width: 1232px;
  margin: 0px auto;
  padding-top: 500px;
  background-image: url("./visual/hero.png");
  background-repeat: no-repeat;
}

.content-wrapper {
  width: 960px;
  margin: 0 auto 0 auto;
  background-color: white;
}

.container {
  padding: 40px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-field {
  width: 300px;
  height: 64px;
  padding-left: 20px;
}

.button {
  cursor: pointer;
  width: 240px;
  height: 64px;
  margin: 20px 10px;
  padding-top: 18px;
  border-radius: 10px;
  display: inline-block;
}

.button-text {
  font-size: 20px;
  color: white;
}

.button-text:hover {
  color: white;
  text-decoration: none;
}

.button-primary {
  background-color: #FF9F00;
}

.button-edit {
  background-color: #6B9DE4;
}

.button-delete {
  background-color: #E46B6B;
}

.text-top {
  vertical-align: text-top;
}

input {
  width: 500px;
  height: 50px;
  margin: 20px;
  padding: 0px 20px;
  text-align: center;
}
